/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  margin: 0;
  background: rgb(245, 245, 245);
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0.875rem;
  color: rgb(86, 90, 92);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-weight: bold;
  color: rgb(255, 89, 95);
  text-decoration: none;
}

strong {
  font-weight: 600;
}

/*
 * Headings
*/
h1{
  font-size: 22px;
  color: #666A6C;
}
/*
 * Button styles
*/

.button {
  background: rgb(255, 89, 95);
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.75rem 5rem;
  border-bottom: 1px solid rgb(227, 25, 29);
  border-radius: 2px;
  width: 95%;
  margin: 0 auto;
}


header{
  background: #fff;
}

header .logo{
  border-right: 1px solid #DCE0E0;
}

.hero img{
  width: 100%;
}

/*
 * Info
*/
.info{
  background-color: #fff;
  text-align: center;
  padding: 25px;
}

.info h1{
  margin-bottom: 5px;
}

.info .profile {
  margin-bottom: 24px;
}
.owner-details img{
  border-radius: 50%;
  margin-bottom: 6px;
}

.owner-details h2 {
  color: #909597;
  margin-bottom: 3px;
}

p.location{
  margin-bottom: 20px;
}
h2.name{
  font-weight: bold;
}

.icons{
  float: left;
  width: 33%;
}

.icons img{
  height: 30px;
  margin-bottom: 3px;
}

.booking h2{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.info .time{
  font-size: 16px;
}