/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	background: url('../images/cookie-monster.jpg');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
	background: black;
	width: 424px;
	color: white;
	padding: 20px;
	padding-bottom:75px ;
}

h1{
	font-size: 80px;
}

h2{
	background: #75c1f6;
	color: black;
	padding: 5px;
	border-radius: 5px;
}

a {
	color: #75c1f6;
	text-decoration: none;
}